.ggg{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:50px;
    text-align: center;
    border: px solid #3a921c;
max-width: 650px;
}

.progressbar{
	position: relative;
	overflow: hidden;
	width: 450px;
	height: 20px;
	border-radius: 3px;
	background-color: #f2dede;
    border: 1px solid #8c1c92;
}

.progressPercent{
	font-weight: 600;
	font-family:'Franklin Gothic Medium';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color: #eee;
	text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.btn{
	display: block;
	margin: 5rem auto;
	border: none;
	border-radius: 3px;     
	outline: none;
	width: 100px;
	height: 40px;
	background-color: #937DC2;
	transition: box-shadow 0.5s;
	font-size: 16px;
	font-family:arial;
	color: #fff;
	cursor: pointer;
}

.btn:hover{
	-webkit-box-shadow: inset 100px 0 0 0 #7c54d1;
    box-shadow: inset 100px 0 0 0 #7c54d1;
}

/* 
@media screen and (max-width: 650px) {


    .progressbar{
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 20px;
        border-radius: 3px;
        background-color: #f2dede;
        border: 1px solid #8c1c92;
    }


} */